h1, h2 {
    text-align: center;
    margin: 20px 0;
}

#input-sekcija {
    text-align: center;
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #ffffff;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#input-sekcija label {
    font-weight: bold;
    display: block;
    margin-bottom: 8px;
    color: #333;
}

#input-sekcija textarea,
#input-sekcija input {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
    box-sizing: border-box;
}


#input-sekcija button {
    display: inline-block;
    background-color: #ff9900;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

#histogrami {
    max-width: 900px;
    margin: 20px auto;
    padding: 20px;
    background-color: #ffffff;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

canvas {
    margin-bottom: 20px;
    display: block;
    max-width: 100%;
}

